<div class="container row">
    <div class="card-panel col s12 offset-m2 m8 offset-l3 l6">
        <div class="container">
            <div class="row">
                <h4 class="black-text center-align">Account</h4>
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_box</i>
                    <input placeholder="Username" type="text" ng-model="vm.creds.username.value" />
                    <div class="red-text form-error" ng-show="vm.creds.username.error">
                        <i class="material-icons">report_problem</i>
                        <span>{{vm.creds.username.error}}</span>
                    </div>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input placeholder="Email" type="email" ng-model="vm.creds.email.value" />
                    <div class="red-text form-error" ng-show="vm.creds.email.error">
                        <i class="material-icons">report_problem</i>
                        <span>{{vm.creds.email.error}}</span>
                    </div>
                </div>
            </div>


            <div class="row center valign-wrapper">
                <span class="col s4 valign"><hr class="grey" style="height:1px;border:none;"></span>
                <span class="col s4">linked with</span>
                <span class="col s4 valign"><hr class="grey" style="height:1px;border:none;"></span>
            </div>

            <div class="row center" ng-show="vm.accounts.linking || vm.accounts.unlinking">
                <spinner></spinner>
            </div>



            <div class="row"> 
                <div ng-repeat="provider in vm.providers">
                    <a ng-hide="vm.linkedTo.{{provider.name}}" style="background-color:{{provider.color}};" class="btn col offset-s1 s10" ng-click="vm.tryLinking('{{provider.name}}')">Link with {{provider.name}}</a>
                <a ng-show="vm.linkedTo.{{provider.name}}" class="btn col offset-s1 s10 grey" ng-click="vm.tryUnlinking('{{provider.name}}')">Unlink {{provider.name}}</a>
                <br><br>
                </div>
            </div>

        </div>
    </div>
</div>
