.app
  height 100%
  background-color $lightBgColor

#state-view pre
  font-size: 14px
  line-height: 16px

.form-error
  padding 0.3em
  margin -1.5em 0em 0em 0.15em
  padding 0em 0em 0em 0em

  span
    margin  0em 0em 0em 1em
